body {
  background: turquoise;
}
.App {
  text-align: center;
}

table th {
  background: purple;
}

.bg-red {
  background: tomato;
}

.bg-green {
  background: green !important;
}

.App img {
  width: 80px;
  height: 50px;
}

.search-container {
  margin: 16px 0;
}
